   .row{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
}  
.container{
    display: flexbox;

    
}
.cardib{
    display: grid;
    width: 10cm;
    height: 15cm;
} 
.card-img-top{
    height: 8cm;
}